.container__progress{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border:5px solid white;
    border-radius: 50%;;
    width: 100px;
    height: 100px;
  
}