.container__menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    z-index: 10;
    color:white;
    justify-content: center;
}

.container__menu__content{
    min-height: 80px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    background-color: black;
    z-index: 2;
}
.container__sub__menu__content{
    display: flex;
    min-height: 50px;
    max-height: 50px;
    z-index: 1;
}

