.container__today{
    margin-top:150px;
    color:white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.player{
    display: flex;
    justify-content: space-around;
}
.action__zone{
    display: flex;
    z-index:10;
    flex:1;
    margin: 10px;
    height: fit-content;
    margin-top: 250px;
}
