.container__video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    margin-bottom:10px;
    overflow: hidden;
    
      
}
.container__video>iframe{
    border-radius: 15px;
}
.container__video__content{
    display: flex;
    overflow: hidden;
    border-radius:15px;
    width: 690px;
    height: 400px;    
  
}
.container__img > img{
    width: 100%;
    border-radius: 15px;
}
.container__img{
    display: flex;
    flex:1;
}


.youtube__button{
   position: absolute;
   margin-top: 170px;
   margin-left: 300px;
   cursor:pointer;  
}