.container__video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 940px;
    height: 650x;
    overflow: hidden;
    
      
}
.container__video>iframe{
    border-radius: 15px;
}
.container__video__content{
    display: flex;
    overflow: hidden;
    border-radius:15px;
  
}



